.barra1{
    background-color: white;
    padding: 10px;
    text-align: left;
    font-size: 20px;
    color: black;

}

body{
    background-color: red;
}
ul {
    list-style-type: none;
  }
  
  li {
    
    float: right;
    margin-right: 100px;
    padding: 1 10px;
  }


  .barra{
    background-color: white;
    padding: 10px;
    text-align: left;
    font-size: 20px;
    color: black;
    width: fit-content;
    height: fit-content;

}